<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify YT</title>

    <link rel="stylesheet" href="css/styles.css">

    <script>
        const URL = '<%= url %>';
    </script>
</head>
<body>
    <h1>Spotify YT</h1>

    <p>tl;dr Accept this app to see your currently playing Spotify track and it'll search youtube for it.</p>
    <p>This is very scuffed so set Spotify volume to 0 when using this site.</p>

    <button type="button" id="login" style="display: none;">Login</button>
    <button type="button" id="start" style="display: none;">Start</button>

    <div class="video-background" style="display: none;">
        <div class="video-foreground">
            <iframe
                id="player"
                src=""
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                enablejsapi="1"
                allowfullscreen
            ></iframe>
        </div>
    </div>

    <script src="js/lib/socket.io.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script>
        const socket = io();

        const parseHash = () => {
            const hash = window.location.hash;
            const tokenRegExp = /#access_token=(.+)&token_type=.*/;

            if (tokenRegExp.test(hash)) {
                return tokenRegExp.exec(hash)[1];
            }

            return '';
        };

        const updateVideoPosition = () => {
            const ratio = $(window).height() / $(window).width() * 100;

            $('.video-foreground').css('padding-top', `${ratio}%`);
        };

        const showLogin = () => {
            $('#login').show();
            $('#start').hide();
            $('.video-background').hide();
        };

        const showStart = () => {
            $('#login').hide();
            $('#start').show();
            $('.video-background').hide();
        };

        const showPlayer = () => {
            $('#login').hide();
            $('#start').hide();
            $('.video-background').show();
        };

        if (!parseHash()) {
            showLogin();
        } else {
            showStart();
        }

        socket.on('bye', () => {
            setInterval(() => {
                $('body').html(`
                    <p>bye lol, only one connection allowed.</p>
                    <p>Try reloading the page if you are not doing that intentionally.</p>
                `);
            }, 10);
        });

        socket.on('login', showLogin);

        $(document).on('click', '#login', () => {
            window.location = '/login';
        });

        $(document).on('click', '#start', () => {
            socket.emit('start', parseHash());
        });

        socket.on('youtube video', (data) => {
            window.location.hash = '';

            // TODO need the youtube JS api to seek to Math.floor(data.time.current)}
            $('#player').attr('src', `https://www.youtube.com/embed/${data.id}?controls=0&loop=1&autoplay=${data.autoplay ? 1 : 0}`);

            showPlayer();
            updateVideoPosition();
        });

        $(window).on('resize', updateVideoPosition);
    </script>
</body>
</html>
