* {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 100;
}

.video-foreground {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-foreground iframe {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
